<%- include('_head') %>

<body>
  <a href='/log-out'>log out</a>
  <a href='/dashboard'>dashboard</a>
  <a href='/people'>people</a>

  <% if(data.length > 0) { %>
    <% data.forEach(function(person) { %>
      <div><%= person.firstName + ' ' + person.surname %></div>
    <% }) %>
  <% } else { %>
    <div>no people managed</div>
  <% }%>
</body>