<%- include('_head') %>

<body>
  <a href='/log-out'>log out</a>
  <a href='/dashboard'>dashboard</a>
  <a href='/people'>people</a>
  <a href='/person/add'>add</a>
  <% data.forEach(function(person) { %>
    <div><%= person.firstName + ' ' + person.surname %></div>
  <% }) %>
</body>