<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Resource Management Tool</title>
  <link rel='stylesheet' href='../../main.css'>
  <link rel='icon' href='main.ico'>
</head>
