<%- include('_head') %>

<body>

  <content>

  <div id='title'>Resource Management&nbsp;Tool</div>
  <div id='sub-title'>forgot password</div>
  
  <form id='authenticate' action='/forgot-password' autocomplete='off' method='POST'>
    <input class='authenticate' type='email' name='email' placeholder='email' required>
  </form>

  <input class='authenticate' form='authenticate' type='submit' value='submit'>

  </content>

</body>
