<%- include('_head') %>

<body>
  <content>

    <div id='title'>Resource Management&nbsp;Tool</div>
    <div id='sub-title'>log in</div>
    
    <form id='authenticate' action='/log-in' autocomplete='off' method='POST'>
      <input class='authenticate' type='email' name='email' placeholder='email' required>
      <input class='authenticate' type='password' name='password' placeholder='password' required>
    </form>
    
    <div id='auth-container'>
      <input class='authenticate' form='authenticate' type='submit' value='submit'>
      <a id='forgot-password' class='right' href=/forgot-password>forgot your password?</a>
    </div>

    <% if (flash && flash.message) { %><div id='flash'><%= flash.message %></div><% } %>

  </content>
</body>
