/* #region app-wide */

* {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  cursor: default;
  font-size: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body {
  display: block;
  margin: 20px;
  background-color: #333333;
  background-attachment: fixed
}

a {
  cursor: pointer;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 19px #333333 inset;
    -webkit-box-shadow: 0 0 0 19px #333333 inset;
    -webkit-text-fill-color: #ffffff;
}

select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

::placeholder, .locked {
  color: #777777;
}

.hidden {
  opacity: 0;
  width: 0;
  height: 0;
}

.right {
  float: right;
}

/* #endregion */

/* #region font */

input[type='submit'],
#sub-title,
.banner-link,
.person,
.ui-datepicker-prev span,
.ui-datepicker-next span {
  font-size: 20px;
}

select, th, td,
#flash,
.authenticate,
.person-link,
.field-label,
.leave-label,
.count-label,
.ui-datepicker-title,
.ui-datepicker-title span {
  font-size: 18px;
}

#forgot-password,
#ui-datepicker-div,
.person-record,
.skill-button,
.leave-duration,
.leave-type,
.leave-form,
.ui-datepicker-calendar a,
.ui-datepicker-calendar span {
  font-size: 16px;
}

/* #endregion */

/* #region color */

#forgot-password,
.banner-link,
.count-label,
.field-label,
.leave-label,
.person:hover,
.ui-datepicker-prev span,
.ui-datepicker-next span,
.ui-datepicker-unselectable span {
  color: #777777;
}

.ui-datepicker-current-day a {
  color: #222222;
}

#forgot-password:hover,
.banner-link:hover {
  color: #ffffff;
}

input[type=checkbox]:checked + label,
input[type=radio]:checked + label,
input[type='submit'].authenticate:hover,
input[type='submit'].leave-form:hover,
input[type='submit'].person-record:hover,
.ui-datepicker-today {
  background-color: #222222;
}

#ui-datepicker-div {
  background-color: #333333;
}

.leave-duration,
.leave-type,
.skill-button {
  background-color: #777777;
}

.ui-datepicker-current-day {
  background-color: #ffffff;
}

/* #endregion */

/* #region log-in */

#title {
  display: block;
  font-size: 60px;
  font-weight: 600;
}

#sub-title, #flash {
  display: block;
  margin: 15px;
}

#authenticate {
  display: block;
  max-width: 394px;
  padding: 0 4px;
}

#authenticate > input {
  display: block;
}

input.authenticate  {
  margin: 24px 0 20px 0;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: none;
}

#auth-container {
  width: 100%;
  max-width: 402px;
}

input[type='submit'].authenticate {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 4px 0 4px;
  border: none;
  border-radius: 5px;
  width: auto;
  padding: 0 11px;
  cursor: pointer;
}

#forgot-password {
  margin: 1px 15px;
  line-height: 40px;
  vertical-align: top;
}

/* #endregion */

/* #region banner */

#banner {
  display: block;
  height: 50px;
}

#small-title {
  font-size: 25px;
  font-weight: 600;
  vertical-align: top;
}

.banner-link {
  margin-left: 15px;
  line-height: 28px;
}

/* #endregion */

/* #region people */

#people {
  display: block;
  margin: auto;
  width: 1800px;
}

.person {
  width: 300px;
  padding: 20px 0;
  text-align: center;
}

/* #endregion */

/* #region person */

#person-form {
  display: block;
  max-width: 550px;
  padding-right: 4px;
  padding-left: 4px;
}

#person-form .form-row {
  clear: right;
  display: block;
  margin-bottom: 15px;
  height: 40px;
}

.field-label {
  margin-left: 11px;
  width: 141px;
  height: 40px;
  line-height: 40px;
}

input.person-record:disabled, select.person-record:disabled, input[type=checkbox]:disabled + label {
  cursor: default;
}

input.person-record, select.person-record {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 100%;
  max-width: 394px;
  height: 40px;
  padding: 0 10px;
  background: none;
  cursor: pointer;
}

#skills {
  width: 100%;
  max-width: 394px;
}

.skill-button {
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

input[type='submit'].person-record {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  clear: both;
  display: block;
  margin: 5px 4px;
  border: none;
  border-radius: 5px;
  width: auto;
  padding: 0 11px;
  cursor: pointer;
}

.extra-bottom {
  padding-bottom: 20px;
}

/* #endregion */

/* #region leave */

#leave-form {
  display: block;
  max-width: 369px;
  padding-right: 4px;
  padding-left: 4px;
}

#leave-form .form-row {
  clear: right;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
}

.button-row {
  clear: right;
  display: block;
  margin: 10px 0;
  width: 100%;
  height: 38px;
  text-align: center;
}

.button-row.top {
  margin-top: 20px; 
}

.button-row.bottom {
  margin-bottom: 20px; 
}

.leave-label {
  margin-left: 11px;
  width: 60px;
  height: 40px;
  line-height: 40px;
}

input.leave-form {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 100%;
  max-width: 201px;
  height: 40px;
  padding: 0 10px;
  background: none;
  cursor: pointer;
  text-align: center;
}

.leave-type {
  margin: 5px;
  border-radius: 5px;
  width: 49px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.leave-duration {
  margin: 5px;
  border-radius: 5px;
  width: 38px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

input[type='submit'].leave-form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  clear: right;
  margin: 5px 4px;
  border: none;
  border-radius: 5px;
  width: auto;
  padding: 0 11px;
  cursor: pointer;
}

.count-label {
  margin: 0 5px;
}

/* #endregion */

/* #region date-picker */

#ui-datepicker-div {
  width: 280px;
}

#ui-datepicker-div[style] {
  left: 152px !important;
}

.ui-datepicker-header {
  display: block;
  height: 45px;
  text-align: center;
}

.ui-datepicker-prev {
  margin: 17px 0 0 30px;
}

.ui-datepicker-next {
  margin: 17px 30px 0 0;
}

.ui-datepicker-prev {
  visibility: hidden;
  float: left;
}

.ui-icon.ui-icon-circle-triangle-w::before {
  content: '←';
  visibility: visible;
}

.ui-datepicker-next {
  visibility: hidden;
  float: right;
}

.ui-icon.ui-icon-circle-triangle-e::before {
  content: '→';
  visibility: visible;
}

.ui-datepicker-title {
  margin-top: 18px;
}

.ui-datepicker-today {
  border-radius: 5px;
}

.ui-datepicker-prev span, .ui-datepicker-next span {
  cursor: pointer;
  width: 20px;
}

.ui-datepicker-calendar tr {
  display: table-row;
  height: 40px;
}

.ui-datepicker-calendar th, .ui-datepicker-calendar td {
  display: table-cell;
  width: 40px;
  text-align: center;
}

.ui-datepicker-calendar td:hover {
  outline: -webkit-focus-ring-color auto 5px;
  cursor: pointer;
}

.ui-datepicker-current-day {
  border-radius: 5px;
}

/* #endregion */

/* #region smaller-screens */

@media screen and (max-width: 1839px) {
  #people {
    width: 1500px;
  }
}

@media screen and (max-width: 1539px) {
  #people {
    width: 1200px;
  }
}

@media screen and (max-width: 1239px) {
  #people {
    width: 900px;
  }
}

@media screen and (max-width: 939px) {
  #people {
    width: 600px;
  }
}

@media screen and (max-width: 639px) {
  #people {
    width: 100%;
  }
  .person {
    width: 100%;
  }
}

@media screen and (max-width: 541px) {
  #title {
    margin: 2px;
    font-size: 30px
  }
}

@media screen and (max-width: 441px) {
  input[type='submit'].authenticate {
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {
  #ui-datepicker-div[style] {
    left: 20px !important;
  }
}

@media screen and (max-width: 313px) {
  #forgot-password {
    float: left;
  }
}

/* #endregion */
