/* #region app-wide */

* {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  cursor: default;
  font-size: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body {
  display: block;
  margin: 20px;
  background-attachment: fixed
}

a {
  cursor: pointer;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 19px #333333 inset;
    -webkit-box-shadow: 0 0 0 19px #333333 inset;
    -webkit-text-fill-color: #ffffff;
}

select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

.locked,
::placeholder {
  color: #777777;
}

.hidden {
  opacity: 0;
  width: 0;
  height: 0;
}

.right {
  float: right;
}

content {
  display: block;
  margin: 0 auto;
  max-width: 1020px;
}

/* #endregion */

/* #region font */

#title {
  font-size: 60px;
}

#small-title {
  font-size: 25px;
}

input[type='submit'],
#sub-title,
.banner-link,
.person,
.ui-datepicker-prev span,
.ui-datepicker-next span {
  font-size: 20px;
}

select,
th,
td,
#flash,
.authenticate,
.person-link,
.field-label,
.leave-label,
.table-link,
.count-label,
.ui-datepicker-title,
.ui-datepicker-title span {
  font-size: 18px;
}

#forgot-password,
#ui-datepicker-div,
.person-record,
.skill-button,
.leave-duration,
.leave-type,
.leave-form,
.ui-datepicker-calendar a,
.ui-datepicker-calendar span {
  font-size: 16px;
}

/* #endregion */

/* #region color */

input[type=checkbox]:checked + label,
input[type=radio]:checked + label,
input[type='submit'].authenticate:hover,
input[type='submit'].leave-form:hover,
input[type='submit'].person-record:hover,
.ui-datepicker-today {
  background-color: #222222;
}

body,
#ui-datepicker-div {
  background-color: #333333;
}

.leave-duration,
.leave-type,
.skill-button {
  background-color: #777777;
}

.ui-datepicker-current-day {
  background-color: #ffffff;
}

input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
  box-shadow: 0 0 3px 2px #005eff;
}


#balance th,
#leave td,
#forgot-password,
.banner-link,
.count-label,
.field-label,
.leave-label,
.table-link,
.person:hover,
.ui-datepicker-prev span,
.ui-datepicker-next span,
.ui-datepicker-unselectable span {
  color: #777777;
}

.ui-datepicker-current-day a {
  color: #222222;
}

#forgot-password:hover,
.banner-link:hover,
.table-link:hover {
  color: #ffffff;
}

/* #endregion */

/* #region log-in */

#title {
  display: block;
  font-weight: 600;
}

#flash,
#sub-title {
  display: block;
  margin: 15px;
}

#authenticate {
  display: block;
  max-width: 394px;
  padding: 0 4px;
}

#authenticate > input {
  display: block;
}

input.authenticate  {
  margin: 24px 0 20px 0;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: none;
}

#auth-container {
  width: 100%;
  max-width: 402px;
}

input[type='submit'].authenticate {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 4px 0 4px;
  border: none;
  border-radius: 5px;
  width: auto;
  padding: 0 11px;
  cursor: pointer;
}

#forgot-password {
  margin: 1px 15px;
  line-height: 40px;
  vertical-align: top;
}

/* #endregion */

/* #region banner */

#banner {
  display: block;
  height: 50px;
}

#small-title {
  font-weight: 600;
  vertical-align: top;
}

.banner-link {
  margin-left: 15px;
  line-height: 28px;
}

/* #endregion */

/* #region dashboard */

#team-activity {
  margin: auto;
  width: 976px;
}

#calendar {
  display: table;
  border-collapse: collapse;
}

#calendar tr {
  display: table-row;
}

#calendar th {
  font-weight: 400;
}

#calendar th,
#calendar td {
  display: table-cell;
  text-align: center;
  border: 1px solid #777777
}

#calendar th,
.team-member {
  padding: 6px 15px;
  vertical-align: middle;
}

.weekday {
  width: 130px;
}

.am, .pm, .ad {
  display: block;
  margin: 5px;
  border-radius: 5px;
  width: 136px;
  padding: 5px 7px;
  font-size: 14px;
  font-style: italic;
  text-align: left;
}

.am, .pm {
  height: 20px;
}

.ad {
  height: 55px;
}

.pending {
  background-color: #444444;
}

.approved, .bank-holiday {
  background-color: #222222;
}

/* #endregion */

/* #region people */

.person {
  width: 255px;
  padding: 20px 0;
  text-align: center;
}

/* #endregion */

/* #region person */

#person-left {
  margin: 0 25px;
  width: 554px;
}

#person-form {
  padding-right: 4px; 
  padding-left: 4px;
}

#person-form .form-row {
  margin-bottom: 15px;
}

.field-label {
  margin-left: 11px;
  width: 141px;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
}

input.person-record:disabled,
select.person-record:disabled,
input[type=checkbox]:disabled + label {
  cursor: default;
}

input.person-record,
select.person-record {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 394px;
  height: 40px;
  padding: 0 10px;
  background: none;
  cursor: pointer;
}

#skills {
  width: 394px;
}

.skill-button {
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

input[type='submit'].person-record {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  clear: both;
  display: block;
  margin: 5px 4px;
  border: none;
  border-radius: 5px;
  width: auto;
  padding: 0 11px;
  cursor: pointer;
}

#person-page > #leave-balance {
  margin: 0 25px;
  width: 366px;
}

.extra-bottom {
  padding-bottom: 20px;
}
 
/* #endregion */

/* #region leave */

#leave-page > #leave-balance,
#leave-page > #leave-request {
  margin: 0 72px;
  width: 366px;
}

#leave-form {
  display: block;
  max-width: 369px;
  padding-right: 4px;
  padding-left: 4px;
}

#leave-form .form-row {
  clear: right;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
}

.button-row {
  clear: right;
  display: block;
  margin: 10px 0;
  width: 100%;
  height: 38px;
  text-align: center;
}

.button-row.top {
  margin-top: 20px; 
}

.button-row.bottom {
  margin-bottom: 20px; 
}

.leave-label {
  margin-left: 11px;
  width: 60px;
  height: 40px;
  line-height: 40px;
}

input.leave-form {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 100%;
  max-width: 201px;
  height: 40px;
  padding: 0 10px;
  background: none;
  cursor: pointer;
  text-align: center;
}

.leave-duration,
.leave-type {
  margin: 5px;
  border-radius: 5px;
  width: 49px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

input[type='submit'].leave-form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 5px 4px;
  border: none;
  border-radius: 5px;
  width: auto;
  padding: 0 11px;
  cursor: pointer;
}

.count-label {
  margin: 5px;
  height: 40px;
  line-height: 40px;
}

.flash-centre {
  text-align: center
}

#balance,
#leave {
  display: table;
  border-collapse: collapse;
}

#balance tr,
#leave tr {
  display: table-row;
}

#balance th,
#leave th {
  font-weight: 400;
}

#balance {
  margin: auto;
}

#balance td,
#balance th {
  display: table-cell;
  vertical-align: top;
  padding: 6px 0;
}

#balance th {
  text-align: left;
  width: 236px;
}

#balance td {
  text-align: right;
  width: 100px;
}

#leave-table {
  display: block;
  margin: auto;
  width: 510px;
}

#leave-requests-table {
  display: block;
  margin: auto;
  width: 650px;
}

#leave th,
#leave td {
  display: table-cell;
  text-align: center;
  padding: 6px 15px;
}

#leave th.requester {
  width: 160px;
}

#leave th.date {
  width: 80px;
}

#leave th.duration {
  width: 70px;
}

#leave th.type {
  width: 60px;
}

#leave th.status {
  width: 80px;
}

#leave th.action {
  width: 130px;
}

#leave th.delete {
  width: 70px;
}

.not-this-year {
  text-decoration: line-through solid #777777;
}

#team-activity {
  display: block;
  margin: auto;
  /* width: 700px; */
}

/* #endregion */

/* #region date-picker */

#ui-datepicker-div {
  width: 280px;
}

.ui-datepicker-header {
  display: block;
  height: 45px;
  text-align: center;
}

.ui-datepicker-prev {
  margin: 17px 0 0 30px;
}

.ui-datepicker-next {
  margin: 17px 30px 0 0;
}

.ui-datepicker-prev {
  visibility: hidden;
  float: left;
}

.ui-icon.ui-icon-circle-triangle-w::before {
  content: '←';
  visibility: visible;
}

.ui-datepicker-next {
  visibility: hidden;
  float: right;
}

.ui-icon.ui-icon-circle-triangle-e::before {
  content: '→';
  visibility: visible;
}

.ui-datepicker-title {
  margin-top: 18px;
}

.ui-datepicker-today {
  border-radius: 5px;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
  cursor: pointer;
  width: 20px;
}

.ui-datepicker-calendar tr {
  display: table-row;
  height: 40px;
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
  display: table-cell;
  width: 40px;
  text-align: center;
  vertical-align: middle;
}

.ui-datepicker-calendar td:hover {
  outline: -webkit-focus-ring-color auto 5px;
  cursor: pointer;
}

.ui-datepicker-current-day {
  border-radius: 5px;
}

/* #endregion */

/* #region smaller-screens */

/* @media screen and (max-width: 1839px) {
  #people {
    width: 1500px;
  }
}

@media screen and (max-width: 1539px) {
  #people {
    width: 1200px;
  }

  #leave-container {
    width: 954px;
  }

  #leave-left {
    margin-right: 200px;
  }
}

@media screen and (max-width: 1239px) {
  #people {
    width: 900px;
  }

  #leave-container {
    width: 854px;
  }

  #leave-left {
    margin-right: 100px;
  }
}

@media screen and (max-width: 939px) {
  #people {
    width: 600px;
  }

  #leave-container {
    width: 770px;
  }

  #leave-left {
    margin-right: 16px;
  }
}

@media screen and (max-width: 809px) {
  #leave-container {
    display: block;
    width: auto;
  }
  
  #leave-left {
    display: block;
    margin-right: 0px;
    width: auto;
  }
  
  #leave-right {
    float: none;
    display: block;
    width: auto;
  }
}

@media screen and (max-width: 639px) {
  #people {
    width: 100%;
  }
  .person {
    width: 100%;
  }
}

@media screen and (max-width: 541px) {
  #title {
    margin: 2px;
    font-size: 30px
  }
}

@media screen and (max-width: 427px) {
  #balance-container {
    width: 100%;
  }

  #leave th, #leave td {
    font-size: 4.25vw;
    padding: 1.4vw 3.1vw;
  }
}

@media screen and (max-width: 313px) {
  #forgot-password {
    float: left;
  }
} */

/* #endregion */
