<%- include('../_head') %>

<body>
  <div id='title'>Resource Management&nbsp;Tool</div>
  <div id='sub-title'>reset password</div>

  <form id='authenticate' action='/<%= hash %>/forgot-password' autocomplete='off' method='POST'>
    <input class='authenticate' type='password' name='password' placeholder='new password' required>
    <input class='authenticate' type='password' name='repassword' placeholder='re-enter password' required>
  </form>

  <input class='authenticate' form='authenticate' type='submit' value='submit'>

  <div id='flash'>
    <% if (flash && flash.message) { %>
      <%= flash.message %>
    <% } %>
  </div>
</body>
